<div id="contentContainer">
	<div class="container" id="Decision">
        <div style=" margin-bottom:5px;" class="col-md-8">
<ul style="margin-left:-30px; margin-bottom:5px;" class="breadcrumb">
<li>
<a style="color:#666;" href="home.htm">Home</a>
</li>
<li>Track</li>
<li class="active">User Group Engagement</li>
</ul>
</div>
		<div class="contentpannel contentpannel1">
			<div class="AcquisitionPanel" ng-controller="overallUserGroupSummaryController" ng-if="isUserGroupViewable">
                  <div style="margin-bottom:15px;" class="panel panel-default">
					<div class="panel-heading">User Groups Metrics</div>
				</div>
				
				<a href="javascript:;" class="pull-right filter-option-menu filter-option-menu1"> </a>
				<div style="margin-top: 55px;" class="options-filter options-filter1  width clearfix">
					<img src="images/popmenu-arrow.png" class="popmenu-arrow" />
					<div>
						<div class="popupTitle">
							<label> Select User Group</label>
						</div>
						<div class="popupcnt top" ng-repeat="data in userSettings.menus" >
							<div class="height">
								<input type="checkbox" ng-model="data.checked" ng-change="menu.onSelect(data)"/> 
								<label>{{data.menuItemName}} </label>
							</div>
						</div>
					</div>
				</div>
				<div class="filterContainer">
					<div class="contentPanel">
					<!-- <p class="widget-title pull-right" style="padding-right:28px">Current period from {{trendPeriod}}, 2014</p> -->
					<p class="widget-title pull-right" style="padding-right:28px">As of Thursday, November 13, 2014</p>
					<div class="progress-loading" ng-if="!error && !dataLoaded"></div>
					<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
						<ul ng-hide="error" data-page="userGroup" class="box-list  clearfix">
							<li ng-repeat="data in userGroup" ng-hide="data.display==false" ng-if="menuSynced" ng-click="menu.selected(data">
								<div class="box-list-innerwrap">
									<div ng-class="{'box-listShadow': true, selected: data.groupBy==select}">
										<!-- <a href="#" class="help tooltip-new">
											<figure>
												<img src="images/icon-info.png" />
											</figure>
											<span><img alt="Tooltip" src="images/tooltip-arrow.png" class="callout">{{Tooltip.TOOLTIP_TRAC_SUMMARY_USERGROUP[data.groupBy]}}</span>
										</a> -->
										<div class="box-content-top">
											<h3>{{data.groupName}}</h3>
											
											<div class="value-green trackingLink">
											{{data.newSubsActual | number}}</div>
                                            <p class='widget-text'>(Count of members)</p>
                                            <p  class="value1"><span class="ng-binding">{{data.monthlyAvg| number}}</span></p>
											<p class="duration">{{timePeriod}} Average</p>
                                          
										</div>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
			<div class="AcquisitionPanel" ng-controller="userGroupSummaryController" ng-if="isUserGroupViewable">
                  <div style="margin-bottom:15px;" class="panel panel-default">
					<div class="panel-heading">{{heading}} Summary</div>
				</div>
				
				<div class="filterContainer">
					<div class="contentPanel">
					<div class="progress-loading" ng-if="!error && !dataLoaded"></div>
					<ng-include ng-show="error" src="'partials/error.htm'"></ng-include>
						<ul ng-hide="error" class="summary-list clearfix">
										<li ng-show="UserGroupSummary.activeUsersPerPeriod!=null" class="widthFirst">
                                            <div class="summarylistInnerwrap">
                                                 <p>
                                                    Active Users Per Week
                                                </p>
                                                <div class="summary-value">
                                                    {{UserGroupSummary.activeUsersPerPeriod | number}}
                                                </div>
                                               
                                            </div>
                                        </li>
                                        <li ng-show="UserGroupSummary.avgLoginPerPeriod!=null" class="width">
                                            <div class="summarylistInnerwrap">
                                                 <p>
                                                    Average Login Per Week
                                                </p>
                                                <div class="summary-value">
                                                    {{UserGroupSummary.avgLoginPerPeriod | number}}
                                                </div>
                                               
                                            </div>
                                        </li>
                                        <li ng-show="UserGroupSummary.recurringBooking!=null" class="width">
                                            <div class="summarylistInnerwrap">
                                                 <p>
                                                    Recurring Booking
                                                </p>
                                                <div class="summary-value">
                                                      $ {{UserGroupSummary.recurringBooking | number}}
                                                </div>
                                               
                                            </div>
                                        </li>
                                        <li ng-show="UserGroupSummary.highEngagement!=null" class="width">
                                            <div class="summarylistInnerwrap">
                                                  <p>
                                                    Highly Engaged
                                                </p>
                                                <div class="summary-value">
                                                      {{UserGroupSummary.highEngagement | number}}
                                                </div>
                                              
                                            </div>
                                        </li>
                                        <li ng-show="UserGroupSummary.moderateEngagement!=null" class="width">
                                            <div class="summarylistInnerwrap">
                                                   <p>
                                                    Moderately Engaged
                                                </p>
                                                <div class="summary-value">
                                                      {{UserGroupSummary.moderateEngagement | number}}
                                                </div>
                                             
                                            </div>
                                        </li>
                                        <li ng-show="UserGroupSummary.leastEngagement!=null" class="width">
                                            <div class="summarylistInnerwrap">
                                                  <p>
                                                    Least Engaged
                                                </p>
                                                <div class="summary-value">
                                                     {{UserGroupSummary.leastEngagement | number}}
                                                </div>
                                              
                                            </div>
                                        </li>
                                        <li ng-show="UserGroupSummary.arpu!=null" class="width">
                                            <div class="summarylistInnerwrap last">
                                                  <p>
                                                    ARPU
                                                </p>
                                                <div class="summary-value">
                                                     $ {{UserGroupSummary.arpu | number}}
                                                </div>
                                              
                                            </div>
                                        </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="AcquisitionPanel" ng-controller="userGroupTrendController" ng-if="isUserGroupViewable">
                  <div style="margin-bottom:15px;" class="panel panel-default">
					<div class="panel-heading">User Group Acquisition Trend</div>
				</div>
				
				<div class="Acquisition">
					<div class="contentPanel1">
					<div class="progress-loading" ng-if="!error && !dataLoaded"></div>
					<ng-include ng-show="error" src="'partials/error.htm'" class=" forChart"></ng-include>
					<p class="widget-title pull-right" style="padding-right:7px;margin-top: 8px;">Current period from {{trendPeriod}}, 2014</p>
						<a href="#" class="help tooltip-new">
									<figure>
										<img src="images/icon-info.png" />
									</figure>
									<span><img alt="Tooltip" src="images/tooltip-arrow.png" class="callout">{{Tooltip.TOOLTIP_TRAC__UG_TREND}}</span>
								</a>
						<div ng-hide="true" class="pull-left">
							<div id="Div1">
								<ul class="acquisitiontabs newSubsTrendTab">
									<li class="tabItem Chart active" rel="tab1">Chart</li>
									<li class="tabItem Cohort" rel="tab2">Cohort</li>
								</ul>
							</div>
						</div>
						<div ng-hide="error" class="DivAcquisitionChart" id="trendChart"></div>
					</div>
				</div>
			</div>
			<!--<div class="AcquisitionPanel" ng-controller="userGroupDeepDiveController" ng-if="isUserGroupViewable">
                  <div style="margin-bottom:15px;" class="panel panel-default">
					<div class="panel-heading">Deep Dive</div>
				</div>
				
				<div class="Acquisition contentPanel tableHeading">
				<div class="progress-loading" ng-if="!error && !dataLoaded"></div>
				    <ng-include ng-show="error" src="'partials/error.htm'"  class=" forChart"></ng-include>
					<div ng-hide="error" class="">
						<div class="clearfix" id="Div4">
							<ul class="acquisitiontabs tabs">
								 <!-- <li ng-class="{active:currentView=='campaign'}" ng-click="changeCurrentView('campaign')">Campaign View</li>
								<li ng-class="{active:currentView=='engagement'}" ng-click="changeCurrentView('engagement')" >Engagement View</li> 
							</ul>
						</div>
						<div class="tab_container">
							<!-- <section ng-if="currentView=='campaign'" id="tab1"
								class="tablecontent tab_content contentScroll-disabled">
								<table ng-hide="error || !dataLoaded"  class="GDtable" my-table options="campaignTableoptions">
									<colgroup>
										<col>
										<col>
										<col>
										<col>
										<col>
										<col>
										<col>
										<col>
									</colgroup>
									<thead>
										<tr>
											<th rowspan="2">User Groups</th>
											<th rowspan="2">No. of Users</th>
											<th rowspan="2">Base Expected Conversion</th>
											<th colspan="5">Campaign Impact</th>
										</tr>
										<tr>
											<th class="subheading">New Users Achieved</th>
											<th class="subheading">Compared to last week</th>
											<th class="subheading">Target</th>
											<th class="subheading">Conversion Uplift</th>
											<th class="subheading">Time Remaining</th>
										</tr>
									</thead>
								</table>
								<a href="#" class="zoomThis"></a>
							</section> 
							<section  id="tab2"
								class="tablecontent tab_content contentScroll-disabled">
								<table class="GDtable" my-table options="engagementTableOptions">
									<colgroup>
										<col>
										<col>
										<col>
										<col>
										<col>
										<col>
										<col>
									</colgroup>
									<thead>
										<tr>
											<th>User Groups</th>
											<th>Active Users</th>
											<th>Average Logins</th>
											<th>Recurring Booking</th>
											<th>ARPU</th>
											<th>Engagement Level</th>
											<th>Engagement Score</th>
										</tr>
									</thead>
								</table>
								<a href="#" class="zoomThis"></a>
							</section>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>-->
<!----------------------------------------------->



<div id="boxes" ng-controller="modalContentController" ng-if="isUserGroupViewable">

	<div id="campaignDialog" class="window small-window"  style="min-width:500px;">
		<div class="modalheading">
			<h2>&nbsp;</h2>
			<a href="#" class="close"></a>
		</div>
		<div class="modalcontent" >
		 <ng-include ng-show="error" src="'partials/error.htm'" ></ng-include>
			<table ng-hide ="error" my-table options="options">
				<thead>
					<tr>
						<th >Campaign</th>
						<th>Channel</th>
						<th>Time Remaining</th>
					</tr>
					</thead>
				
			</table>
		</div>
	</div>
	
	<div id="tableZoom" class="window">
		<div class="modalheading">
			<h2>Table</h2>
			<a href="#" class="close"></a>
		</div>
		<div class="modalcontent"></div>
	</div>
</div>
<div id="mask"></div>
<div ng-hide ng-controller="userGroupInitController"></div>